@page
@model LeadManagementSys.Areas.Identity.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="card text-center shadow-lg p-4" style="max-width: 400px; border-radius: 10px;">
        <div class="card-body">
            <h4 class="card-title text-danger">Access Denied</h4>
            <p class="card-text text-black">You do not have permission to view this page.</p>
        </div>
    </div>
</div>


