@model LeadManagementSys.Models.DTOs.DashboardSummaryDto
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to SuperAdmin Dashboard</h2>

<div class="mb-3">
    <a href="/Identity/Account/Register?role=Admin" class="btn custom-button">Create Admin</a>
    <a href="/Identity/Account/Register?role=Agent" class="btn custom-button">Create Agent</a>
    <a href="/Identity/Account/Register?role=Manager" class="btn custom-button">Create Manager</a>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card text-white mb-3 cardColor1">
            <div class="card-body">
                <h5 class="card-title">Total Admins</h5>
                <p class="card-text">@Model.TotalAdmins</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white mb-3 cardColor2">
            <div class="card-body">
                <h5 class="card-title">Total Agents</h5>
                <p class="card-text">@Model.TotalAgents</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white mb-3 cardColor3">
            <div class="card-body">
                <h5 class="card-title">Total Managers</h5>
                <p class="card-text">@Model.TotalManagers</p>
            </div>
        </div>
        
    </div>

    @* <div class="col-md-3"> *@
    @*     <div class="card text-white bg-info mb-3"> *@
    @*         <div class="card-body"> *@
    @*             <h5 class="card-title">Total Leads</h5> *@
    @*             <p class="card-text">@Model.TotalLeads</p> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
</div>
